 .head{
    background-color: rgb(6, 65, 88);
    color:white;
    text-shadow: 2px 2px;
  }
  .head:hover{
    background-color: rgb(21, 156, 138);
  }
 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
.mybtn{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(58, 18, 236);
    text-align: center;
    cursor: pointer;
    width: 20%;
    left: 3%;
}
.mybtn:hover{
    background-color: rgb(219, 133, 28);
    color: black;
}
.feature{
    height: 200px;
    width: 400px;
}