<h1 class="head">Templates Cart</h1>

<h2> <marquee behavior="" direction="">Your Added Items
</marquee>
</h2>
<body>
<table style="position:left">
            <tr>
                <ul>
                <td>
                    <div class="card">
                        <img src="https://thumbs.dreamstime.com/b/ideal-watch-advertising-advertisement-projects-178217079.jpg" alt="No" style="width:100%">
                        <h1>watch Templates</h1>
                        <p class="price">prize:$30</p>
                        </div>
                </td>
            </ul>
          <td >
                    You Added this Templates type <br/> to Your cart: <br/><br/>
                    <button type="button" class="btn btn-success">Click For Payment</button>
                    <br/><br/>
                    <button type="button" class="btn btn-danger" (click)="msg()">Delete</button>
                </td>
                 

<td>
    <button type="button" class="btn btn-warning" (click)="removemsg()">Remove From Cart</button>
</td>


  <h1 style="text-align:center;">
    For More  Details Checkout our more Templates:
    <br/><br/>
 
    <button type="button" class="btn btn-danger">Click For More Templates</button>

  </h1>  
 

       
</tr>
         <br/>

         <tr>
            <ul>
            <td>
                <div class="card">
                    <img src="https://www.shutterstock.com/image-vector/vector-running-shoes-ad-product-260nw-555531676.jpg" alt="No" style="width:100%">
                    <h1>Shoes Related Templates</h1>
                    <p class="price"> Prize:$30</p>
                    </div>
            </td>
        </ul>
            <td>
                You Added This To Your cart:
                <br/>
                <br/>

                <button type="button" class="btn btn-success">Click For Payment</button>
                <br/><br/>
                <button type="button" class="btn btn-danger" (click)="msg()">Delete</button>
            </td>

            <td>
                <button type="button" class="btn btn-warning" (click)="removemsg()">Remove From Cart</button>

            </td>
     </tr>


        </table>
      <a href="#">  <button  
        class="mybtn">CheckOut</button>

    </a>

        
   </body>